<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="layout :: head">
</head>
<body role="document">
<div class="container" th:replace="layout :: navbar">
</div>

<div class="container" role="main">
    <div class="jumbotron">
        <h1 th:text="${helloMessage}"></h1>

        <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point
            to create something more unique by building on or modifying it.</p>
    </div>
</div>

<!-- Before body close -->
<th:block th:include="layout :: beforeBodyClose"/>
</body>
</html>